Repository sciwork/swportal, pull requests merged in 2021-11, with the labels that each got.

#88 [event] Add Taipei sprint in late November
  content/pages/sprint/2021/11late-taipei.rst
  content/pages/sprint/index.rst
Labels: sprint

#89 Publish on 11/3
  content/pages/sprint/2021/11late-taipei.rst
  content/pages/sprint/index.rst
Labels: publish

#90 [sprint] Remove wrongly duplicated entry
  content/pages/sprint/index.rst
Labels: bug

#87 [event] add sprint page late november
  content/pages/sprint/2021/11late-pycht.rst
  content/pages/sprint/index.rst
Labels: sprint

#91 Publish on 11/4
  content/pages/sprint/2021/11late-pycht.rst
  content/pages/sprint/index.rst
Labels: publish

#92 [sprint] Update venue for late November Taipei
  content/pages/sprint/2021/11late-taipei.rst
Labels: sprint

#93 Publish on 11/4 (again)
  content/pages/sprint/2021/11late-taipei.rst
Labels: publish

#95 update intro
  content/pages/sprint/2021/11late-taipei.rst
Labels: sprint

#96 Edit the introduction to November Taipei sprint.
  content/pages/sprint/2021/11late-taipei.rst
Labels: sprint

#97 Publish on 11/8
  content/pages/sprint/2021/11late-taipei.rst
Labels: publish
