Repository sciwork/swportal, pull requests merged in 2022-10, with the labels that each got.

#146 modify end event time
  content/pages/meetup/2022/10-nycu.rst
Labels: meetup

#147 Publish on 10/8
  content/pages/meetup/2022/10-nycu.rst
Labels: publish

#148 October meetup: Add back the link to the hackmd note
  content/pages/meetup/2022/10-nycu.rst
Labels: bug

#149 Publish on 10/9
  content/pages/meetup/2022/10-nycu.rst
Labels: publish

#150 [11early-hsinchu] Create sprint page
  content/pages/sprint/2022/11early-hsinchu.rst
  content/pages/sprint/index.rst
Labels: sprint

#151 Publish on 10/29
  content/pages/sprint/2022/11early-hsinchu.rst
  content/pages/sprint/index.rst
Labels: sprint, publish
