Repository sciwork/swportal, pull requests merged in 2023-10, with the labels that each got.

#268 add the 1004 meetup page
  content/pages/meetup/2023/1004-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#269 Publish on 10/03
  content/pages/meetup/2023/1004-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#271 add the meetup1011 page
  content/pages/meetup/2023/1011-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#272 Publish on 10/5
  content/pages/meetup/2023/1011-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#274 Publish on 10/7
  content/pages/conference/index.rst
Labels: publish

#270 Feature/1021sprint
  content/pages/sprint/2023/10-hsinchu.rst
  content/pages/sprint/index.rst
Labels: sprint

#276 modify: add uTensor to the project list
  content/pages/sprint/2023/10-hsinchu.rst
Labels: sprint

#277 Publish on 10/9
  content/pages/sprint/2023/10-hsinchu.rst
Labels: sprint

#278 UPDATE: add the 1018 and 1025 meetup page
  content/pages/meetup/2023/1018-nycu.rst
  content/pages/meetup/2023/1025-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#279 Publish on 10/17
  content/pages/meetup/2023/1018-nycu.rst
  content/pages/meetup/2023/1025-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#280 UPDATA: add the sprint202311 page
  content/pages/sprint/2023/11-hsinchu.rst
  content/pages/sprint/index.rst
Labels: sprint

#281 Publish on 10/27
  content/pages/sprint/2023/11-hsinchu.rst
  content/pages/sprint/index.rst
Labels: publish

#282 feature/sprint202311: modify the event content
  content/pages/sprint/2023/11-hsinchu.rst
Labels: sprint

#283 FEATURE: add the meetup20231101 page
  content/pages/meetup/2023/1101-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#284 Publish on 10/29
  content/pages/meetup/2023/1101-nycu.rst
  content/pages/meetup/index.rst
  content/pages/sprint/2023/11-hsinchu.rst
Labels: publish
