Repository sciwork/swportal, pull requests merged in 2023-03, with the labels that each got.

#171 [03-Hsichu] Add the kktix link in event page
  content/pages/sprint/2023/03-hsinchu.rst
Labels: sprint

#172 Publish on 3/2
  content/pages/sprint/2023/03-hsinchu.rst
Labels: sprint, publish

#169 Add after-event contents for scisprint February 2023
  content/pages/sprint/2023/02-taipei.rst
Labels: sprint

#173 Publish on 3/2
  content/pages/sprint/2023/02-taipei.rst
Labels: publish

#176 [2303-hsinchu] Correct the name of venue
  content/pages/sprint/2023/03-hsinchu.rst
Labels: sprint

#181 Publish on 3/11
  content/pages/meetup/2023/03-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#187 Publish on 3/17
  content/pages/sprint/2023/03-hsinchu.rst
Labels: publish

#185 add sprint page for scisprint 2023 April
  content/pages/sprint/2023/04-hsinchu.rst
  content/pages/sprint/index.rst
Labels: sprint

#188 Publish on 3/18
  content/pages/sprint/2023/04-hsinchu.rst
  content/pages/sprint/index.rst
Labels: publish

#191 Add KKTIX link for April Scisprint
  content/pages/sprint/2023/04-hsinchu.rst
Labels: sprint

#193 Publish on 3/21
  content/pages/meetup/2023/03-nycu.rst
  content/pages/sprint/2023/04-hsinchu.rst
Labels: publish
