Repository sciwork/swportal, pull requests merged in 2024-12, with the labels that each got.

#508 Docs: Add the page of 1211 meetup
  content/pages/meetup/2024/1211-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#509 Publish: Add the page of 12/11 meetup and sciwork conference 2024
  content/pages/conference/2023/report.rst
  content/pages/conference/index.rst
  content/pages/index.rst
  content/pages/meetup/2024/1211-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#510 update the meetup of 20241218
  content/pages/meetup/2024/1218-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#511 Publish: update the meetup of 20241218
  content/pages/meetup/2024/1218-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#512 Docs: Add the opening talk in the 1218 meetup.
  content/pages/meetup/2024/1218-nycu.rst
Labels: meetup

#514 Add sharing topic
  content/pages/meetup/2024/1218-nycu.rst
Labels: meetup

#515 Publish: add a sharing topic in 12/18 meetup
  content/pages/meetup/2024/1218-nycu.rst
Labels: publish

#516 Optimize CSS on swprotal table
  theme/static/css/main.css
Labels: enhancement

#517 Add the agenda of 1225 meetup
  content/pages/meetup/2024/1225-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#518 Publish: Publish the pages of 12/25 meetup
  content/pages/meetup/2024/1225-nycu.rst
  content/pages/meetup/index.rst
  theme/static/css/main.css
Labels: publish
