Repository sciwork/swportal, pull requests merged in 2024-03, with the labels that each got.

#367 FEATURE: add the 2024 March meetup page
  content/pages/meetup/2024/0306-nycu.rst
  content/pages/meetup/2024/0313-nycu.rst
  content/pages/meetup/2024/0320-nycu.rst
  content/pages/meetup/2024/0327-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#368 Publish on 3/1
  content/pages/meetup/2024/0306-nycu.rst
  content/pages/meetup/2024/0313-nycu.rst
  content/pages/meetup/2024/0320-nycu.rst
  content/pages/meetup/2024/0327-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#372 Publish on 3/3
  content/pages/conference/2024/03-workshop.rst
  content/pages/conference/index.rst
  content/pages/sprint/2024/03-taipei.rst
  content/pages/sprint/index.rst
Labels: publish

#373 HOTFIX: fix some date typo
  content/pages/meetup/2024/0306-nycu.rst
  content/pages/meetup/2024/0313-nycu.rst
  content/pages/meetup/2024/0320-nycu.rst
  content/pages/meetup/2024/0327-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#374 Publish on 3/4
  content/pages/meetup/2024/0306-nycu.rst
  content/pages/meetup/2024/0313-nycu.rst
  content/pages/meetup/2024/0320-nycu.rst
  content/pages/meetup/2024/0327-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#376 UPDATE: modify the discord sign up link on 20240313 meetup page
  content/pages/meetup/2024/0313-nycu.rst
Labels: meetup

#377 Publish on 3/7
  content/pages/meetup/2024/0313-nycu.rst
Labels: publish

#375 FEATURE: add the 202401 review blog and fix the template of blog
  content/blog/2024/202401-review.rst
  theme/templates/blog.html
Labels: blog

#379 Correct date for April scisprint
  content/pages/sprint/2024/04-hsinchu.rst
Labels: sprint

#381 UPDATE: add the sign up link in the 20240320 meetup page
  content/pages/meetup/2024/0320-nycu.rst
Labels: meetup

#382 Publish on 3/17
  content/pages/meetup/2024/0320-nycu.rst
  content/pages/sprint/2024/04-hsinchu.rst
Labels: publish

#384 Publish on 3/25
  content/pages/meetup/2024/0327-nycu.rst
Labels: publish
