Repository sciwork/swportal, pull requests merged in 2024-09, with the labels that each got.

#462 Update the meetup information of 20240911
  content/pages/meetup/2024/0911-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#464 Add a third topic to the Meetup 9/11 agenda
  content/pages/meetup/2024/0911-nycu.rst
Labels: meetup

#465 Publish on 9/10
  content/pages/meetup/2024/0911-nycu.rst
Labels: publish

#467 Add page for October sprint in Hsinchu
  content/pages/index.rst
  content/pages/sprint/2024/10-hsinchu.rst
  content/pages/sprint/index.rst
Labels: sprint

#468 Add the 0918 meetup agenda
  content/pages/meetup/2024/0918-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#470 Add agenda of 0925 meetup
  content/pages/meetup/2024/0925-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#473 Add the meetup agenda of 1002.
  content/pages/meetup/2024/1002-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#475 Publish on 9/26
  content/pages/index.rst
  content/pages/sprint/2024/10-hsinchu.rst
Labels: publish
