Repository sciwork/swportal, pull requests merged in 2024-01, with the labels that each got.

#320 FEATURE: add the January 2024 meetup pages
  content/pages/meetup/2024/0103-nycu.rst
  content/pages/meetup/2024/0110-nycu.rst
  content/pages/meetup/2024/0117-nycu.rst
  content/pages/meetup/2024/0124-nycu.rst
  content/pages/meetup/2024/0131-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#321 Publish on 1/2
  content/pages/meetup/2024/0103-nycu.rst
  content/pages/meetup/2024/0110-nycu.rst
  content/pages/meetup/2024/0117-nycu.rst
  content/pages/meetup/2024/0124-nycu.rst
  content/pages/meetup/2024/0131-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#322 HOTFIX: fix typos
  content/pages/meetup/2024/0103-nycu.rst
  content/pages/meetup/2024/0110-nycu.rst
  content/pages/meetup/2024/0117-nycu.rst
  content/pages/meetup/2024/0124-nycu.rst
Labels: meetup

#323 Publish on 1/2 to fix typo
  content/pages/meetup/2024/0103-nycu.rst
  content/pages/meetup/2024/0110-nycu.rst
  content/pages/meetup/2024/0117-nycu.rst
  content/pages/meetup/2024/0124-nycu.rst
Labels: publish

#324 UPDATE: add the discord event link on 20240110 meetup page
  content/pages/meetup/2024/0110-nycu.rst
Labels: meetup

#325 UPDATE: sprint2401 add the project list and add the sign up link
  content/pages/sprint/2024/01-hsinchu.rst
Labels: sprint

#326 Publish on 1/5
  content/pages/meetup/2024/0110-nycu.rst
  content/pages/sprint/2024/01-hsinchu.rst
Labels: publish

#327 Feature/sprint/2401 update the informations
  content/pages/sprint/2024/01-hsinchu.rst
  content/pages/sprint/2024/02-hsinchu.rst
  content/pages/sprint/2024/03-hsinchu.rst
  content/pages/sprint/2024/04-hsinchu.rst
  content/pages/sprint/2024/05-hsinchu.rst
Labels: sprint

#328 Publish on 1/6
  content/pages/sprint/2024/01-hsinchu.rst
  content/pages/sprint/2024/02-hsinchu.rst
  content/pages/sprint/2024/03-hsinchu.rst
  content/pages/sprint/2024/04-hsinchu.rst
  content/pages/sprint/2024/05-hsinchu.rst
Labels: publish

#329 UPDATE: remove the leetcode discussion and add the discord sign up link
  content/pages/meetup/2024/0117-nycu.rst
Labels: meetup

#330 Publish on 1/11
  content/pages/meetup/2024/0117-nycu.rst
Labels: publish

#332 UPDATE: add swportal to the participated project on January sprint
  content/pages/sprint/2024/01-hsinchu.rst
Labels: sprint

#333 Publish on 1/13
  content/pages/sprint/2024/01-hsinchu.rst
Labels: publish

#335 UPDATE: add the discord sign up link and remove the leetcode subject
  content/pages/meetup/2024/0124-nycu.rst
Labels: meetup

#336 Publish on 1/19
  content/pages/meetup/2024/0124-nycu.rst
Labels: publish

#338 Publish on 1/23
  content/blog/2024/202312-review.rst
  pelicanconf.py
  theme/templates/article.html
  theme/templates/blog.html
Labels: publish

#339 feat: add pages for scisprint Taipei
  content/pages/sprint/2024/03-taipei.rst
  content/pages/sprint/2024/06-taipei.rst
  content/pages/sprint/index.rst
Labels: sprint

#340 Publish on 1/24
  content/pages/sprint/2024/03-taipei.rst
  content/pages/sprint/2024/06-taipei.rst
  content/pages/sprint/index.rst
Labels: publish

#341 UPDATE: delete the leetcode subject and modify the sign up link on meetup 20240131
  content/pages/meetup/2024/0131-nycu.rst
Labels: meetup

#342 Publish on 1/26
  content/pages/meetup/2024/0131-nycu.rst
Labels: publish

#337 FEATURE: add the 202403 Kaohsiung seminar page
  content/pages/sprint/2024/03-Kaohsiung.rst
  content/pages/sprint/index.rst
Labels: sprint

#343 Publish on 1/27
  content/pages/sprint/2024/03-Kaohsiung.rst
  content/pages/sprint/index.rst
Labels: publish

#344 UPDATE: add the 2024 February meetup page
  content/pages/meetup/2024/0221-nycu.rst
  content/pages/meetup/2024/0228-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#345 UPDATE: add the participant project and unpublished sign up link on February scisprint
  content/pages/sprint/2024/02-hsinchu.rst
  content/pages/sprint/index.rst
Labels: sprint

#346 Publish on 1/31
  content/pages/meetup/2024/0221-nycu.rst
  content/pages/meetup/2024/0228-nycu.rst
  content/pages/meetup/index.rst
  content/pages/sprint/2024/02-hsinchu.rst
  content/pages/sprint/index.rst
Labels: publish
