Repository sciwork/swportal, pull requests merged in 2024-10, with the labels that each got.

#476 Add the agenda of 1009 meetup
  content/pages/meetup/2024/1009-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#477 Add the 1009 agenda.
  content/pages/meetup/2024/1009-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#479 docs: Add the agenda of 1016 meetup
  content/pages/meetup/2024/1016-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#480 docs: Add the agenda of 1016 meetup
  content/pages/meetup/2024/1016-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#481 Add agenda on 1016 NYCU meetup
  content/pages/meetup/2024/1016-nycu.rst
Labels: meetup

#487 meetup docs: Add the pages of 1023meetup
  content/pages/meetup/2024/1023-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#488 publish docs: Add the pages of 1023 meetup
  content/pages/meetup/2024/1023-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#492 Publish docs: add the pages of 1030 meetup
  Pipfile
  Pipfile.lock
  content/pages/meetup/2024/1030-nycu.rst
  content/pages/meetup/index.rst
  requirements.txt
Labels: publish

#489 Update project list and registration link for November Hsinchu sprint
  content/pages/sprint/2024/11-hsinchu.rst
Labels: sprint

#493 Publish on 10/25: update November sprint page
  content/pages/sprint/2024/11-hsinchu.rst
Labels: publish

#494 feat: add the pages of 1106 meetup
  content/pages/meetup/2024/1106-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#495 Publish docs: add the pages of 1106 meetup
  content/pages/meetup/2024/1106-nycu.rst
  content/pages/meetup/index.rst
Labels: publish
