Repository sciwork/swportal, pull requests merged in 2025-02, with the labels that each got.

#536 Meetup: Add the 2025 0205 meetup pages
  content/pages/meetup/2025/0205-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#537 Publish: Add the 20250205 meetup pages
  content/pages/meetup/2025/0205-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#541 Meetup: Add the 0212 meetup pages
  content/pages/meetup/2025/0212-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#543 Meetup: Add the 02/19 meetup pages
  content/pages/meetup/2025/0219-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#544 Publish: Add the 02/19 meetup pages
  content/pages/meetup/2025/0219-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#547 [Publish] Update small talk section to 0219 meetup page
  content/pages/meetup/2025/0219-nycu.rst
Labels: publish

#548 (Draft) Make distinct time slot for every short talks in meetup 0219
  content/pages/meetup/2025/0219-nycu.rst
Labels: meetup

#549 [Publish] Isolate short talk sections in meetup 0219
  content/pages/meetup/2025/0219-nycu.rst
Labels: publish

#550 Correct format of short talk links
  content/pages/meetup/2025/0219-nycu.rst
Labels: meetup

#551 [Publish] Correct format of short talk links
  content/pages/meetup/2025/0219-nycu.rst
Labels: publish

#552 Add meetup page on 2025.02.26
  content/pages/meetup/2025/0226-nycu.rst
  content/pages/meetup/index.rst
Labels: meetup

#554 [Publish] Add meetup page for 20250226
  content/pages/meetup/2025/0226-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#555 feat: convert the meetup agenda from table format to grid layout
  content/pages/meetup/2025/0226-nycu.rst
Labels: stylesheet, meetup

#556 Publish 0226 meetup with schedule table improvement
  content/pages/meetup/2025/0226-nycu.rst
Labels: publish, meetup

#557 Update titles of progress updates
  content/pages/meetup/2025/0226-nycu.rst
Labels: meetup

#558 Publish on 2/26
  content/pages/meetup/2025/0226-nycu.rst
Labels: meetup
