Repository sciwork/swportal, pull requests merged in 2025-06, with the labels that each got.

#625 Publish on 6/4
  content/pages/meetup/2025/0604-nycu.rst
  content/pages/meetup/index.rst
Labels: publish, meetup

#627 Publish: Update the 0611 meetup agenda.
  content/pages/index.rst
  content/pages/meetup/2025/0611-nycu.rst
  content/pages/meetup/index.rst
Labels: publish

#635 Docs: Update the 0618 meetup agenda.
  content/pages/index.rst
  content/pages/meetup/2025/0618-nycu.rst
Labels: meetup
