Repository sciwork/swportal, pull requests merged in 2025-09, with the labels that each got.

#661 add 2025 Sep scisprint page
  contents/sprint/2025/09-hsinchu.mdx
  public/sprint/2025/NTHU_CTC_floor_plan.jpg
Labels: sprint

#669 Add meetup page for 0910
  contents/meetup/2025/0910-nycu.mdx
Labels: meetup

#670 Publish 0910 meeetup page
  contents/meetup/2025/0910-nycu.mdx
Labels: publish

#672 Add meetup page for 0917
  contents/meetup/2025/0917-nycu.mdx
Labels: meetup

#673 Publish: Add meetup page for 0917 (#672)
  contents/meetup/2025/0917-nycu.mdx
Labels: publish

#674 Add meetup pages for 0924 and 1001
  contents/meetup/2025/0924-nycu.mdx
  contents/meetup/2025/1001-nycu.mdx
Labels: meetup
